<!-- Footer Elements -->
<div class="container-fluid">

	<!-- Grid row-->
	<div class="row">

		<!-- Grid column -->
		<div class="col-md-12 py-2">
			<div class="mb-5 flex-center">
				<!-- Github -->
				<a class="gh-ic" href="https://github.com/thomas-tf/time-series-forecast-django">
				<i class="fab fa-github fa-lg white-text fa-2x"> </i>
				</a>

			</div>
		</div>
		<!-- Grid column -->

	</div>
	<!-- Grid row-->

</div>
<!-- Footer Elements -->

<!-- Copyright -->
<div class="footer-copyright text-center py-1">© 2019 Copyright:
	<a href="">Thomas Wong</a>
</div>
<!-- Copyright -->